.App {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    position: absolute;
  text-align: center;
  background-color: black;
  height: 110%;
  width: 100%;
  justify-content: center;
}

h1 {
  color: #00ff00;
}

form {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}

input[type=submit] {
  background-color: black;
  border-radius: 20em;
  margin-top: 0.5em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: white;
  font-weight: bold;
  transition: all 50ms;
  border: 0.1em solid white;
  padding: 0.5em 1em;
  font-size: 1em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input[type=submit]:hover {
  border: 0.1em solid #00ff00;
  color: #00ff00;
  
}

input[type=text], input[type=number]{
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  font-weight: 350;
  letter-spacing: 0.05em;
  padding: 0.5em;
  background-color: #585858;
  color: white;
  border: none;
  border-radius: 0.25em;
  outline: none;
}

input[type=text]:focus, input[type=number]:focus {
  border: 0.1em solid white;
}

.App p, label {
  color: white;
}

.App h1, h3 {
  color: #00ff00;
}

.CurrencyDisplay {
  width: 100%;
  margin: auto;
  padding-bottom: 0.5em;
}

.CurrencyDisplay h3 {
  width: 50%;
  margin: auto;
  margin-top: 1em;
  padding-top: 0.5em;
  background-color: #303030;
  border-radius: 0.3em 0.3em 0 0;
}

.InvoiceDetails {
  text-align: left;
  padding: 0 1em 0.5em 1em;
  background-color: #303030;
  border-radius: 0 0 0.3em 0.3em;
}

.InvoiceDetails label {
  display: flex;
  flex-direction: column;
}

.InvoiceDetails p {
  margin-bottom: -0.001em;
}

.DisplayAccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.DisplayAccount p {
  
  padding-top: 0.3em;
  color: white;
}

.DisplayAccount h3 {
  padding-left: 1em;
  padding-right: 0.3em;
}

.DisplayAccount div {
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 2em;
}

.QR {
  background-color: #A9A9A9;
  padding: 0.5em;
  border-radius: .3em;
  margin: auto;
  width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}